# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
data_original/
outputs/
*.R
index.Rmd
_site.yml
dqi_email.Rmd
test.Rmd

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
docs/data_original/
docs/outputs/
docs/site_libs/header-attrs-2.13/
docs/test.html

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
